@import url(https://fonts.googleapis.com/css?family=Kanit:regular&display=swap);

@import url(https://fonts.googleapis.com/css?family=Nunito:regular&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-facebook:before {
  content: "\e900";
}

._icon-instagram:before {
  content: "\e901";
}

._icon-linkedin-in:before {
  content: "\e902";
}

._icon-play:before {
  content: "\e903";
}

._icon-twitter:before {
  content: "\e904";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Nunito";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Nunito";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #191d1d;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.125rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  max-width: 14.375rem;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 6.25rem;
  border: 1px solid #6d7d7d;
  cursor: pointer;
  color: #fff;
  font-family: "Kanit", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  /* 24/16 */
  letter-spacing: 0.43rem;
  padding: 0.4375rem 1.6875rem;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.button::after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  z-index: -1;
  top: 0;
  bottom: 0;
  right: 0;
  width: 0;
  background-color: rgba(109, 125, 125, 0.2);
  border-radius: 6.25rem;
  color: #191d1d;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-family: "Kanit";
  line-height: 1.5;
  /* 60/40 */
  color: #fff;
}

.text {
  font-family: "Nunito";
  font-size: 1rem;
  line-height: 1.37;
  /* 22/16 */
  color: #fff;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6.25rem auto 14.375rem;
  grid-template-columns: 6.25rem auto 14.375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
}

.header__logo img {
  width: 100%;
  height: 100%;
  aspect-ratio: 100/30;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__menu {
  -ms-grid-column-align: end;
      justify-self: end;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.3125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link {
  color: #fff;
  text-transform: lowercase;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.menu__link::before {
  content: "";
  position: absolute;
  border-radius: 0.625rem;
  bottom: -0.3125rem;
  width: 0%;
  right: 0%;
  height: 0.125rem;
  background-color: #fff;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.menu__link._navigator-active::before {
  content: "";
  position: absolute;
  bottom: -0.3125rem;
  width: 100%;
  left: 0;
  height: 0.125rem;
  background-color: #fff;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #131616;
}

.footer__row-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

.footer__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
}

.footer__logo {
  max-width: 6.25rem;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.footer__logo img {
  width: 100%;
  height: 100%;
  aspect-ratio: 100/30;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer__row-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__social {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 31.5789473684%;
          flex: 0 1 31.5789473684%;
}

.footer__social-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 480px;
          flex: 0 1 480px;
  -ms-grid-column-align: end;
      justify-self: end;
  text-align: end;
  line-height: 1.37;
  /* 22/16 */
}

.footer__copyright {
  background-color: #191d1d;
}

.footer__row-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.875rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__text {
  line-height: 1.37;
  /* 22/16 */
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__link {
  color: #6d7d7d;
  font-family: "Kanit", sans-serif;
  line-height: 1.5;
  /* 24/16 */
  letter-spacing: 6.88px;
  position: relative;
}

.footer__link::before {
  content: "";
  position: absolute;
  border-radius: 0.625rem;
  bottom: -0.3125rem;
  width: 0%;
  right: 0%;
  height: 0.125rem;
  background-color: #fff;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.menu-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-footer__link {
  color: #fff;
  text-transform: lowercase;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.menu-footer__link::before {
  content: "";
  position: absolute;
  border-radius: 0.625rem;
  bottom: -0.3125rem;
  width: 0%;
  right: 0%;
  height: 0.125rem;
  background-color: #fff;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.menu-spoller__title {
  list-style: none;
  color: #6d7d7d;
  font-family: "Kanit", sans-serif;
  line-height: 1.5;
  letter-spacing: 6.88px;
  text-transform: uppercase;
}

.menu-spoller__title::marker::-webkit-details-marker {
  display: none;
}

.menu-spoller__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.875rem;
  padding: 1.25rem 0;
}

.menu-spoller__item {
  font-size: 1.25rem;
}

.menu-spoller__link {
  font-size: 1.25rem;
  text-transform: lowercase;
}

.social-footer {
  position: relative;
}

.social-footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.3125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-footer__item {
  width: 2.25rem;
  height: 2.25rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.25rem;
          flex: 0 0 2.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 1px solid #6d7d7d;
  padding: 0.6875rem;
  font-size: 0.875rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-transform: uppercase;
}

.hero__slider {
  position: relative;
}

.hero__slide {
  min-height: 100vh;
  position: relative;
}

.hero__slide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero__container {
  position: relative;
  z-index: 3;
}

.hero__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100svh;
}

.hero__title {
  text-shadow: 2px 1px 1px black;
}

.hero__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.hero__text {
  text-shadow: 2px 1px 1px black;
}

.hero__text:not(:last-child) {
  margin-bottom: 2.5rem;
}

.hero__play-button {
  -webkit-animation: scaleButton 1.5s infinite;
          animation: scaleButton 1.5s infinite;
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  border: 0.0625rem solid #fff;
  width: 4.375rem;
  height: 4.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.40625rem;
  padding-left: 0.3125rem;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.hero__play-button::after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  z-index: -1;
  top: 0;
  bottom: 0;
  right: 0;
  width: 0;
  background-color: rgba(109, 125, 125, 0.2);
  border-radius: 6.25rem;
  color: #191d1d;
}

@-webkit-keyframes scaleButton {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.1);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaleButton {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.1);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.hero__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 47.99875em) {
  .footer__mobile {
    display: none;
  }

  .social-footer::after {
    content: "";
    width: 0.0625rem;
    height: 3.875rem;
    background-color: #6d7d7d;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
}

@media (min-width: 73.125em) {
  .title {
    font-size: 2.5rem;
  }

  .header__container {
    min-height: 6.4375rem;
  }

  .header__container {
    -webkit-column-gap: 3.25rem;
       -moz-column-gap: 3.25rem;
            column-gap: 3.25rem;
  }

  .menu__list {
    -webkit-column-gap: 3.4375rem;
       -moz-column-gap: 3.4375rem;
            column-gap: 3.4375rem;
  }

  .footer__body {
    padding-top: 4.375rem;
  }

  .footer__body {
    padding-bottom: 4.375rem;
  }

  .footer__row-social {
    padding-top: 4.375rem;
  }

  .footer__copyright {
    padding-top: 3.125rem;
  }

  .footer__copyright {
    padding-bottom: 3.125rem;
  }

  .footer__links {
    gap: 5.625rem;
  }

  .menu-footer__list {
    -webkit-column-gap: 3.4375rem;
       -moz-column-gap: 3.4375rem;
            column-gap: 3.4375rem;
  }

  .social-footer__body {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .hero__body {
    padding-top: 15.625rem;
  }

  .hero__body {
    padding-bottom: 15.625rem;
  }

  .hero__body {
    padding-left: 35.625rem;
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 1.875rem;
  }

  .header__container {
    min-height: 4.375rem;
  }

  .header__container {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .footer__body {
    padding-top: 1.875rem;
  }

  .footer__body {
    padding-bottom: 1.875rem;
  }

  .footer__row-social {
    padding-top: 1.875rem;
  }

  .footer__copyright {
    padding-top: 1.25rem;
  }

  .footer__copyright {
    padding-bottom: 1.25rem;
  }

  .footer__links {
    gap: 2.5rem;
  }

  .social-footer__body {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .hero__body {
    padding-top: 5rem;
  }

  .hero__body {
    padding-bottom: 5rem;
  }
}

@media (max-width: 47.99875em) {
  .header__container {
    -ms-grid-columns: auto 1fr auto auto;
    grid-template-columns: auto 1fr auto auto;
    gap: 0;
  }

  .menu__body {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr auto;
    grid-template-rows: 1fr auto;
    gap: 2.5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    overflow: auto;
    background-color: #191d1d;
    padding: 6.25rem 0.9375rem 1.875rem 0.9375rem;
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: -100%;
    background-color: #191d1d;
    z-index: 2;
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    -webkit-column-gap: 1.5625rem;
       -moz-column-gap: 1.5625rem;
            column-gap: 1.5625rem;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.5625rem;
  }

  .menu__link {
    font-size: 1.75rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #ffffff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer__row-navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__mobile {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .footer__menu {
    display: none;
  }

  .footer__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .footer__row-social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__social {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }

  .footer__social-text {
    text-align: center;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }

  .footer__row-copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
  }

  .footer__links {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .menu-footer__list {
    -webkit-column-gap: 1.5625rem;
       -moz-column-gap: 1.5625rem;
            column-gap: 1.5625rem;
  }

  .social-footer__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .hero__body {
    padding-left: 0.0000000625rem;
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .menu__body::before {
    min-height: 4.375rem;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (min-width: 20em) and (max-width: 73.125em) {
@supports (font-size: clamp( 1.875rem , 1.6397058824rem  +  1.1764705882vw , 2.5rem )) {
    .title {
      font-size: clamp( 1.875rem , 1.6397058824rem  +  1.1764705882vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.6397058824rem  +  1.1764705882vw , 2.5rem )) {
    .title {
      font-size: calc(1.875rem + 0.625 * (100vw - 20rem) / 53.125);
    }
}

@supports (min-height: clamp( 4.375rem , 3.5985294118rem  +  3.8823529412vw , 6.4375rem )) {
    .header__container {
      min-height: clamp( 4.375rem , 3.5985294118rem  +  3.8823529412vw , 6.4375rem );
    }
}

@supports not (min-height: clamp( 4.375rem , 3.5985294118rem  +  3.8823529412vw , 6.4375rem )) {
    .header__container {
      min-height: calc(4.375rem + 2.0625 * (100vw - 20rem) / 53.125);
    }
}

@supports ((-moz-column-gap: clamp( 0.9375rem , 0.0669117647rem  +  4.3529411765vw , 3.25rem )) or (column-gap: clamp( 0.9375rem , 0.0669117647rem  +  4.3529411765vw , 3.25rem ))) {
    .header__container {
      -webkit-column-gap: clamp( 0.9375rem , 0.0669117647rem  +  4.3529411765vw , 3.25rem );
         -moz-column-gap: clamp( 0.9375rem , 0.0669117647rem  +  4.3529411765vw , 3.25rem );
              column-gap: clamp( 0.9375rem , 0.0669117647rem  +  4.3529411765vw , 3.25rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , 0.0669117647rem  +  4.3529411765vw , 3.25rem )) or (column-gap: clamp( 0.9375rem , 0.0669117647rem  +  4.3529411765vw , 3.25rem ))) {
    .header__container {
      -webkit-column-gap: calc(0.9375rem + 2.3125 * (100vw - 20rem) / 53.125);
         -moz-column-gap: calc(0.9375rem + 2.3125 * (100vw - 20rem) / 53.125);
              column-gap: calc(0.9375rem + 2.3125 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.9338235294rem  +  4.7058823529vw , 4.375rem )) {
    .footer__body {
      padding-top: clamp( 1.875rem , 0.9338235294rem  +  4.7058823529vw , 4.375rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.9338235294rem  +  4.7058823529vw , 4.375rem )) {
    .footer__body {
      padding-top: calc(1.875rem + 2.5 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.9338235294rem  +  4.7058823529vw , 4.375rem )) {
    .footer__body {
      padding-bottom: clamp( 1.875rem , 0.9338235294rem  +  4.7058823529vw , 4.375rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.9338235294rem  +  4.7058823529vw , 4.375rem )) {
    .footer__body {
      padding-bottom: calc(1.875rem + 2.5 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.9338235294rem  +  4.7058823529vw , 4.375rem )) {
    .footer__row-social {
      padding-top: clamp( 1.875rem , 0.9338235294rem  +  4.7058823529vw , 4.375rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.9338235294rem  +  4.7058823529vw , 4.375rem )) {
    .footer__row-social {
      padding-top: calc(1.875rem + 2.5 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem )) {
    .footer__copyright {
      padding-top: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem )) {
    .footer__copyright {
      padding-top: calc(1.25rem + 1.875 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem )) {
    .footer__copyright {
      padding-bottom: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem )) {
    .footer__copyright {
      padding-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 53.125);
    }
}

@supports (gap: clamp( 2.5rem , 1.3235294118rem  +  5.8823529412vw , 5.625rem )) {
    .footer__links {
      gap: clamp( 2.5rem , 1.3235294118rem  +  5.8823529412vw , 5.625rem );
    }
}

@supports not (gap: clamp( 2.5rem , 1.3235294118rem  +  5.8823529412vw , 5.625rem )) {
    .footer__links {
      gap: calc(2.5rem + 3.125 * (100vw - 20rem) / 53.125);
    }
}

@supports ((-moz-column-gap: clamp( 0.9375rem , 0.8198529412rem  +  0.5882352941vw , 1.25rem )) or (column-gap: clamp( 0.9375rem , 0.8198529412rem  +  0.5882352941vw , 1.25rem ))) {
    .social-footer__body {
      -webkit-column-gap: clamp( 0.9375rem , 0.8198529412rem  +  0.5882352941vw , 1.25rem );
         -moz-column-gap: clamp( 0.9375rem , 0.8198529412rem  +  0.5882352941vw , 1.25rem );
              column-gap: clamp( 0.9375rem , 0.8198529412rem  +  0.5882352941vw , 1.25rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , 0.8198529412rem  +  0.5882352941vw , 1.25rem )) or (column-gap: clamp( 0.9375rem , 0.8198529412rem  +  0.5882352941vw , 1.25rem ))) {
    .social-footer__body {
      -webkit-column-gap: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 53.125);
         -moz-column-gap: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 53.125);
              column-gap: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-top: clamp( 5rem , 1rem  +  20vw , 15.625rem )) {
    .hero__body {
      padding-top: clamp( 5rem , 1rem  +  20vw , 15.625rem );
    }
}

@supports not (padding-top: clamp( 5rem , 1rem  +  20vw , 15.625rem )) {
    .hero__body {
      padding-top: calc(5rem + 10.625 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 5rem , 1rem  +  20vw , 15.625rem )) {
    .hero__body {
      padding-bottom: clamp( 5rem , 1rem  +  20vw , 15.625rem );
    }
}

@supports not (padding-bottom: clamp( 5rem , 1rem  +  20vw , 15.625rem )) {
    .hero__body {
      padding-bottom: calc(5rem + 10.625 * (100vw - 20rem) / 53.125);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 73.125em) {
  .menu__body::before {
    min-height: 6.4375rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 73.125em) {
@supports (min-height: clamp( 4.375rem , 3.5985294118rem  +  3.8823529412vw , 6.4375rem )) {
    .menu__body::before {
      min-height: clamp( 4.375rem , 3.5985294118rem  +  3.8823529412vw , 6.4375rem );
    }
}

@supports not (min-height: clamp( 4.375rem , 3.5985294118rem  +  3.8823529412vw , 6.4375rem )) {
    .menu__body::before {
      min-height: calc(4.375rem + 2.0625 * (100vw - 20rem) / 53.125);
    }
}
}

@media (min-width: 47.99875em) and (max-width: 73.125em) {
@supports ((-moz-column-gap: clamp( 1.5625rem , -2.0193180688rem  +  7.4623153077vw , 3.4375rem )) or (column-gap: clamp( 1.5625rem , -2.0193180688rem  +  7.4623153077vw , 3.4375rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 1.5625rem , -2.0193180688rem  +  7.4623153077vw , 3.4375rem );
         -moz-column-gap: clamp( 1.5625rem , -2.0193180688rem  +  7.4623153077vw , 3.4375rem );
              column-gap: clamp( 1.5625rem , -2.0193180688rem  +  7.4623153077vw , 3.4375rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.5625rem , -2.0193180688rem  +  7.4623153077vw , 3.4375rem )) or (column-gap: clamp( 1.5625rem , -2.0193180688rem  +  7.4623153077vw , 3.4375rem ))) {
    .menu__list {
      -webkit-column-gap: calc(1.5625rem + 1.875 * (100vw - 47.99875rem) / 25.12625);
         -moz-column-gap: calc(1.5625rem + 1.875 * (100vw - 47.99875rem) / 25.12625);
              column-gap: calc(1.5625rem + 1.875 * (100vw - 47.99875rem) / 25.12625);
    }
}

@supports ((-moz-column-gap: clamp( 1.5625rem , -2.0193180688rem  +  7.4623153077vw , 3.4375rem )) or (column-gap: clamp( 1.5625rem , -2.0193180688rem  +  7.4623153077vw , 3.4375rem ))) {
    .menu-footer__list {
      -webkit-column-gap: clamp( 1.5625rem , -2.0193180688rem  +  7.4623153077vw , 3.4375rem );
         -moz-column-gap: clamp( 1.5625rem , -2.0193180688rem  +  7.4623153077vw , 3.4375rem );
              column-gap: clamp( 1.5625rem , -2.0193180688rem  +  7.4623153077vw , 3.4375rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.5625rem , -2.0193180688rem  +  7.4623153077vw , 3.4375rem )) or (column-gap: clamp( 1.5625rem , -2.0193180688rem  +  7.4623153077vw , 3.4375rem ))) {
    .menu-footer__list {
      -webkit-column-gap: calc(1.5625rem + 1.875 * (100vw - 47.99875rem) / 25.12625);
         -moz-column-gap: calc(1.5625rem + 1.875 * (100vw - 47.99875rem) / 25.12625);
              column-gap: calc(1.5625rem + 1.875 * (100vw - 47.99875rem) / 25.12625);
    }
}

@supports (padding-left: clamp( 0.0000000625rem , -68.0545431244rem  +  141.7839905975vw , 35.625rem )) {
    .hero__body {
      padding-left: clamp( 0.0000000625rem , -68.0545431244rem  +  141.7839905975vw , 35.625rem );
    }
}

@supports not (padding-left: clamp( 0.0000000625rem , -68.0545431244rem  +  141.7839905975vw , 35.625rem )) {
    .hero__body {
      padding-left: calc(0.0000000625rem + 35.6249999375 * (100vw - 47.99875rem) / 25.12625);
    }
}
}

@media (any-hover: hover) {
  .button {
    overflow: hidden;
  }

  .button:hover {
    -webkit-box-shadow: 0 0 0 5px rgba(250, 250, 250, 0.1);
            box-shadow: 0 0 0 5px rgba(250, 250, 250, 0.1);
  }

  .button:hover::after {
    width: 100%;
    left: 0;
  }

  .menu__link:hover::before {
    width: 100%;
    left: 0%;
  }

  .footer__logo:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .footer__link:hover {
    color: #fff;
  }

  .footer__link:hover::before {
    width: 100%;
    left: 0%;
  }

  .menu-footer__link:hover {
    color: #fff;
  }

  .menu-footer__link:hover::before {
    width: 100%;
    left: 0%;
  }

  .social-footer__item:hover {
    color: #131616;
    background-color: #fff;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-box-shadow: 0 0 0 0.1875rem rgba(250, 250, 250, 0.1);
            box-shadow: 0 0 0 0.1875rem rgba(250, 250, 250, 0.1);
  }

  .hero__play-button:hover::after {
    width: 100%;
    left: 0;
  }
}